<section>
	<input type="checkbox" id="buttToggle" class="socialInput">
	<label for="buttToggle" class="buttLabel"> <span class="icon icon-bubbles4"> </span></label>
	<div class="sMedia">
	  	<ul>
            <li class="instagram">
            	<a target="_blank" href="https://instagram.com/?lang=en" title="Instagram">
                	<span class="icon icon-instagram"> </span>
            	</a>
          	</li>
            <li class="twitter">
            	<a target="_blank" href="https://twitter.com/?lang=en" title="Twitter">
                	<span class="icon icon-twitter"> </span>
                </a> 
            </li>
            <li class="linkedIn"> 
            	<a target="_blank" href="https://www.linkedin.com/" title="LinkedIn">
                	<span class="icon icon-linkedin"> </span>
                </a>
            </li>
        </ul>
    </div>
</section>